
<div id="header">
  <div class="logo"><img src="stylesheets/customization/Images/Everest_Logo.png"></div>
    <div class="menuContainer">
    <ul id="menu">
      <li>File
      <ul>
         <li id="new">New</li>
         <li id="close">Close</li>
         <li id="closeAll">Close All</li>
         <li id="closeOthers">Close Others</li>
         <div class="ui-menu-divider"></div>
         <li id="print">Print</li>
       </ul>  
      </li>
      
      <li>Edit
        <ul>
         <li class="ui-state-disabled">Edit Sub Menu 1</li>
         <li>Edit Sub Menu 2</li>
         <li>Edit Sub Menu 3</li>
        </ul> 
      </li>
      <li>Find
         <ul>
           <li>Find Sub Menu 1</li>
           <li>Find Sub Menu 2</li>
           <li>Find Sub Menu 3</li>
        </ul>
      </li>
      <li>View
        <ul>
           <li class="ui-state-disabled">View Sub Menu 1</li>
           <li>View Sub Menu 2</li>
           <li>View Sub Menu 3</li>
        </ul>
      </li>
      <li>Preferences
         <ul>
            <li class="ui-state-disabled">Pref Menu Item 1</li>
            <li>Pref Menu Item 2</li>
            <li>Pref Menu Item 3</li>
        </ul>
      </li>
      <li>Help
         <ul>
            <li class="ui-state-disabled">Pref Menu Item 1</li>
            <li ><span class="ui-icon ui-icon-print"></span>Pref Menu Item 2</li>
            <li>Pref Menu Item 3</li>
          </ul>
      </li>
     </ul>
    </div>
  <div class="login">ehathaway@mitre.org</div>

</div>
<!-- END HEADER -->

<div class="ace-container" >

<!-- START TREE PANEL --> 
<div id="jstree" class="treepanel">
add tree selector
</div>
<!-- END TREE PANEL -->


<!-- START CONTENT AREA -->


<div class="ace">
     <div class="actionBar">
  <input id="mybutton" type="button" value="Slide" class="ui-state-default ui-corner-all ui-button-icon-only ui-icon  ui-icon-arrowthickstop-1-w" style="cursor: pointer">
  <button id="addTab" class="icon">Add Tab</button>
  </div>

  <div id="workspace"></div>
  </div>  

  </div>  
  


<script>

</script> 
<div id="footer" class="ui-widget-content">
status bar
</div>
</div>