<!DOCTYPE html>
<html>
<head>
  <title>CqlRepository</title>

  <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script type="text/javascript">
    $(document).ready(function() {
      $( "#workspace" ).workspace();
      workspace = $( "#workspace" ).workspace("instance");

      $("#addTab").click(function(){
        window.ace.config.set("basePath", "assets/workspace/src/ace-build");
        workspace.open("","",AceWorkspaceEditor,{ace:window.ace,mode:"ace/mode/cql"})
        })
     }
    );
  </script>

  <script>

  </script>
</head>
<body>

<%= yield %>

</body>
</html>
